<!DOCTYPE html>
<html lang="en">
    <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="@routes.Assets.versioned("javascripts/jquery.loading-indicator.js")" type="text/javascript"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/jquery.loading-indicator.css")">
    </head>
<body>
<form enctype="multipart/form-data">
  <input type="file" id="file" name="file" />
  <input type="submit" id="submit" name="" value="Upload" />
</form>

<script>
var homeLoader = $('body').loadingIndicator({
       useImage: false,
       showOnInit: false
}).data("loadingIndicator");
//クリック処理
$('#submit').click(function (event) {
   event.preventDefault();
   var file = $('#file').get(0).files[0];
   var formData = new FormData();
   var fileName = null;
   formData.append('file', file);
   var res = $.ajax({
       url: 'upload',
       data: formData,
       type: 'POST',
       contentType: false,
       processData: false,
       beforeSend: function (data) {
         homeLoader.show();
       }
   }).done(
      function(data) {
        fileName = data;
        if( fileName != "error" ) {
          polling(fileName);
        }
      }
   ).fail(
    function (jqXHR, textStatus, errorThrown) {
      homeLoader.hide();
      alert(textStatus + ': ' + errorThrown);
    }
   );
  return false;
});

// 3秒毎にポーリング
function polling(fileName) {
  $.ajax({
         url: 'upload_after',
         data: {'file_name': fileName},
         type: 'GET'
  })
  .then(
    function(data, status, xhr) {
      // 取得したデータの内容によってDeferredの状態を変更する
      var d = $.Deferred();
      if (data == "timeout") {
        d.resolve();
      } else {
        console.log("終了!");
        d.reject();
      }
      // Promiseを返す
      return d.promise();
    })
  .done(function() {
    mySleep(3);
    polling(fileName);
  })
  .fail(
    function () {
      homeLoader.hide();
      alert('Update completed! ');
    });
}

//sleepファンクション
function mySleep(time) {
  return (
    function() {
      var dfd = $.Deferred();
      setTimeout(
        function() {
          dfd.resolve();
        },
        time * 1000);
      return dfd.promise();
    });
}
</script>
<body>
</html>
